[Unit]
Description=PWM Fan Cooling
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/cooling_controller/fancontrol.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
